@model List<MasterProject.Areas.Country_AddEditMany.Models.CountryModel>;
@{
    ViewData["Title"] = "AddMany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Many Countries</h1>

<form asp-action="AddMany" method="post">
    <table id="addManyDataTable" class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th>Checkbox</th>
                <th>Country Name</th>
                <th>Country Code</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="text-center">
                    <td>
                        <input type="checkbox" name="model[@i].IsSelected" />
                    </td>
                    <td>
                        <input type="text" placeholder="Enter Country Name" asp-for="model[@i].CountryName" class="form-control" />
                    </td>
                    <td>
                        <input type="text" placeholder="Enter Country Code" asp-for="model[@i].CountryCode" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>





